<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.zd.filtier.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
  	<servlet-name>favoriteServlet</servlet-name>
  	<servlet-class>com.zd.servlet.FavoriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>favoriteServlet</servlet-name>
  	<url-pattern>/fav.action</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>tagServlet</servlet-name>
  	<servlet-class>com.zd.servlet.TagServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>tagServlet</servlet-name>
  	<url-pattern>/tag.action</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>indexServlet</servlet-name>
  	<servlet-class>com.zd.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>indexServlet</servlet-name>
  	<url-pattern>/index.action</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>500</error-code>
    <location>/500.jsp</location>
  </error-page>
</web-app>
